.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: hsl(0, 0%, 100%);
  padding: 0.5rem;
  list-style: none;
  cursor: pointer;
  font-size: 1.125rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom: solid 1px hsl(0, 0%, 92%);
  color: hsl(235, 19%, 35%);

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  input:checked ~ .checkbox {
    background-image: linear-gradient(to right, #57ddff, #c058f3);
    border: none;

    img {
      padding-bottom: 0.2rem;
    }
  }
}

.itemDragging {
  border: 2px solid #ddf8ff;
  background: #ddf8ff;
  opacity: 0.5;
}

.checkbox {
  margin: 0.5rem 1rem;
  height: 25px;
  width: 25px;
  background-color: hsl(0, 0%, 100%);
  border: solid 2px hsl(0, 0%, 92%);
  border-radius: 50%;
  padding: 0.5rem;

  &:hover {
    border: 2px solid #c058f3;
  }
}

.cross {
  width: 0.875rem;
  margin: 0 1rem;

  &:hover {
    width: 1.1rem;
  }
}

@media only screen and (max-width: 600px) {
  .checkbox {
    padding: 0.5rem;
  }
}

@media only screen and (max-width: 400px) {
  .listItem {
    font-size: 1rem;
    min-height: 3rem;
  }
  .checkbox {
    margin: 0 0.5rem;
  }
  .cross {
    width: 0.75rem;
    margin: 0.25rem;
  }
}
